.main {
    margin-top: 20px;
}

/*Navbar style*/
.navbar li {
    list-style: none;
}

#navbar a {
    color: black;
}

li.nav-item:hover {
    background-color: whitesmoke;
}

.navbar-brand:hover {
    background-color: whitesmoke;
}